.color1{
    background-color: aqua;
}
.color2{
    background-color: red;
}
.color3{
    background-color: coral;
}
.color4{
    background-color: cornflowerblue;
}
.color5{
    background-color:darkcyan;
}
.color6{
    background-color: darkmagenta;
}
.color7{
    background-color: darksalmon;
}
.color8{
    background-color: deepskyblue;
}
.color9{
    background-color: rgb(111, 111, 111);
}
.color10{background-color: gold;}

